$primary1: #1e1e1e;
$primary2: #363636;
$primary3: #b3b3b3;
$highlight1: #C7253E;
$highlight2: #ffffff;

/* Set the main container to be scrollable */
.content {
    padding-top: 80px;
    height: 100%; /* Adjust height as needed  TODO: Fix here*/
}

.table {
    font-size: 20px;
    white-space: pre-line;
    background-color: $primary1;
    color: $primary3;
}

.header {
    box-sizing: border-box;
    background-color: $primary2;
    color: $primary3;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.title {
    margin-right: auto;
}

#error-button-container {
    margin-top: auto;
    margin-bottom: auto;
}

.error-switch *[class*="indicator"] {
    visibility: hidden;
}

.error-switch *[class*="background"] {
    background: $highlight1;
}

.error-switch *[class*="button"] {
    background: $highlight2;
}

.updatemenu-item-rect {
    background-color: #ffffff;
    border-radius: 5px;
    fill: #FFFFFF;
    padding: 5px;
    margin: 5px;
}

h1 {
    margin: 0px;
    font-family: Arial;
}

h3 {
    margin: 0px;
}

body {
    overscroll-behavior: none;
    margin: 0px;
    background-color: $primary1;
}

/*  when using Bootstrap, this will add row borders to the table in dcc.Markdown
 *   Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
    border-collapse: collapse;
}

th:not(.CalendarDay),
td:not(.CalendarDay) {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid $primary3;
}

th:first-child:not(.CalendarDay),
td:first-child:not(.CalendarDay) {
    padding-left: 0;
}

th:last-child:not(.CalendarDay),
td:last-child:not(.CalendarDay) {
    padding-right: 0;
}
